@font-face {
    font-family: 'jazmin-reguler';
    src: url('../font/jazmin/Jazmin\ Alt\ Regular.otf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    font-family: "jazmin-reguler" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.nav-item a{
    color: black;
}

.nav-link:hover:before{
    content: '> ';
}

.content-item .nav-link:hover:before{
    content: '';
}

#open {
    background-image: url('../icon/cross.png');
    background-size: 20px;
    transition: ease-in-out 0.2s;
}

#close {
    transition: ease-in-out 0.2s;
}

.content-section{
    /* float: left; */
    width: 100%;
    margin: auto;
    /* padding: 100px 0 0 0; */
}

.content-item div{
    position: relative;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.content-item a img{
    width: 100%;
    max-height: 43.3vw;
    object-fit: cover;
    object-position: center;
}

.p4-p4{
    /* max-height: 21.5vw !important; */
}

.content-item div:after, .content-item div:before {
    position:absolute;
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.content-item div:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.content-item div:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:40%;
    padding:4px 10px;
    text-align:center;
    font-size: 20pt;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.rumamara-section .content-item div:before {
    font-size: 12pt;
}

.content-item div:hover:after, .content-item div:hover:before {
    opacity:0;
}

.content-grid{
    display: flex;
    padding: 0 40px 0 40px;
    width: 100%;
}

.content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.content a{
    color: black;
    text-decoration: none;
}

.content a:hover{
    color: rgb(124, 124, 124);
}

.content h1,
.content h3{
    font-weight: bold;
}

.deskripsi{
    font-size: 23px;
    display: inline-grid;
}

@media (max-width: 767px) {
    .content-item a img{
        width: 100%;
        max-height: 30vh;
        object-fit: cover;
        object-position: center;
    }

    .carousel .slide img {
        border: 0;
        height: 100vh;
        object-fit: cover;
        vertical-align: top;
        width: 100%;
    }
    
    .p4-p4{
        max-height: 32vh !important;
    }

    .content-grid{
        display: block !important;
    }

    .content{
        margin: 70px;
    }

    .deskripsi{
        font-size: 19px;
    }
}

.footer-section{
    padding: 20px;
    background-color:rgba(212, 212, 212, 0.87);
}